* {
    box-sizing: border-box;
}

html {
    font-style: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.link {
    text-decoration: none;
    transition: .5s;

    &:hover {
        text-decoration: none;
    }
}
