@font-face {
    font-family: 'core_sans_e35_light';
    src: url('coresanse-35light-webfont.eot');
    src: url('coresanse-35light-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-35light-webfont.woff2') format('woff2'),
        url('coresanse-35light-webfont.woff') format('woff'),
        url('coresanse-35light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e35_light_italic';
    src: url('coresanse-35lightit-webfont.eot');
    src: url('coresanse-35lightit-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-35lightit-webfont.woff2') format('woff2'),
        url('coresanse-35lightit-webfont.woff') format('woff'),
        url('coresanse-35lightit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e45_regular';
    src: url('coresanse-45regular-webfont.eot');
    src: url('coresanse-45regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-45regular-webfont.woff2') format('woff2'),
        url('coresanse-45regular-webfont.woff') format('woff'),
        url('coresanse-45regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e55_medium';
    src: url('coresanse-55medium-webfont.eot');
    src: url('coresanse-55medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-55medium-webfont.woff2') format('woff2'),
        url('coresanse-55medium-webfont.woff') format('woff'),
        url('coresanse-55medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e65_bold';
    src: url('coresanse-65bold-webfont.eot');
    src: url('coresanse-65bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-65bold-webfont.woff2') format('woff2'),
        url('coresanse-65bold-webfont.woff') format('woff'),
        url('coresanse-65bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e85_heavy';
    src: url('coresanse-85heavy-webfont.eot');
    src: url('coresanse-85heavy-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-85heavy-webfont.woff2') format('woff2'),
        url('coresanse-85heavy-webfont.woff') format('woff'),
        url('coresanse-85heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'core_sans_e95_black';
    src: url('coresanse-95black-webfont.eot');
    src: url('coresanse-95black-webfont.eot?#iefix') format('embedded-opentype'),
        url('coresanse-95black-webfont.woff2') format('woff2'),
        url('coresanse-95black-webfont.woff') format('woff'),
        url('coresanse-95black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'besom';
    src: url('besom-webfont.eot');
    src: url('besom-webfont.eot?#iefix') format('embedded-opentype'),
        url('besom-webfont.woff2') format('woff2'),
        url('besom-webfont.woff') format('woff'),
        url('besom-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}