@font-face {
    font-family: 'Core Sans E 45';
    src: url('../fonts/CoreSansE-45Regular.eot');
    src: url('../fonts/CoreSansE-45Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-45Regular.woff2') format('woff2'),
        url('../fonts/CoreSansE-45Regular.woff') format('woff'),
        url('../fonts/CoreSansE-45Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 55';
    src: url('../fonts/CoreSansE-55Medium.eot');
    src: url('../fonts/CoreSansE-55Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-55Medium.woff2') format('woff2'),
        url('../fonts/CoreSansE-55Medium.woff') format('woff'),
        url('../fonts/CoreSansE-55Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 95';
    src: url('../fonts/CoreSansE-95Black.eot');
    src: url('../fonts/CoreSansE-95Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-95Black.woff2') format('woff2'),
        url('../fonts/CoreSansE-95Black.woff') format('woff'),
        url('../fonts/CoreSansE-95Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 85';
    src: url('../fonts/CoreSansE-85Heavy.eot');
    src: url('../fonts/CoreSansE-85Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-85Heavy.woff2') format('woff2'),
        url('../fonts/CoreSansE-85Heavy.woff') format('woff'),
        url('../fonts/CoreSansE-85Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 65';
    src: url('../fonts/CoreSansE-65Bold.eot');
    src: url('../fonts/CoreSansE-65Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-65Bold.woff2') format('woff2'),
        url('../fonts/CoreSansE-65Bold.woff') format('woff'),
        url('../fonts/CoreSansE-65Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans E 35';
    src: url('../fonts/CoreSansE-35Light.eot');
    src: url('../fonts/CoreSansE-35Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoreSansE-35Light.woff2') format('woff2'),
        url('../fonts/CoreSansE-35Light.woff') format('woff'),
        url('../fonts/CoreSansE-35Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Besom 2';
    src: url('../fonts/Besom.eot');
    src: url('../fonts/Besom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Besom.woff2') format('woff2'),
        url('../fonts/Besom.woff') format('woff'),
        url('../fonts/Besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
