// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-name: 'close';
$close-x: 353px;
$close-y: 176px;
$close-offset-x: -353px;
$close-offset-y: -176px;
$close-width: 21px;
$close-height: 23px;
$close-total-width: 513px;
$close-total-height: 420px;
$close-image: '../images/sprite.png';
$close: (353px, 176px, -353px, -176px, 21px, 23px, 513px, 420px, '../images/sprite.png', 'close', );
$fifth-name: 'fifth';
$fifth-x: 0px;
$fifth-y: 135px;
$fifth-offset-x: 0px;
$fifth-offset-y: -135px;
$fifth-width: 170px;
$fifth-height: 142px;
$fifth-total-width: 513px;
$fifth-total-height: 420px;
$fifth-image: '../images/sprite.png';
$fifth: (0px, 135px, 0px, -135px, 170px, 142px, 513px, 420px, '../images/sprite.png', 'fifth', );
$first-name: 'first';
$first-x: 353px;
$first-y: 0px;
$first-offset-x: -353px;
$first-offset-y: 0px;
$first-width: 160px;
$first-height: 138px;
$first-total-width: 513px;
$first-total-height: 420px;
$first-image: '../images/sprite.png';
$first: (353px, 0px, -353px, 0px, 160px, 138px, 513px, 420px, '../images/sprite.png', 'first', );
$fourth-name: 'fourth';
$fourth-x: 179px;
$fourth-y: 135px;
$fourth-offset-x: -179px;
$fourth-offset-y: -135px;
$fourth-width: 163px;
$fourth-height: 140px;
$fourth-total-width: 513px;
$fourth-total-height: 420px;
$fourth-image: '../images/sprite.png';
$fourth: (179px, 135px, -179px, -135px, 163px, 140px, 513px, 420px, '../images/sprite.png', 'fourth', );
$mark-name: 'mark';
$mark-x: 0px;
$mark-y: 277px;
$mark-offset-x: 0px;
$mark-offset-y: -277px;
$mark-width: 130px;
$mark-height: 143px;
$mark-total-width: 513px;
$mark-total-height: 420px;
$mark-image: '../images/sprite.png';
$mark: (0px, 277px, 0px, -277px, 130px, 143px, 513px, 420px, '../images/sprite.png', 'mark', );
$pag-1-name: 'pag-1';
$pag-1-x: 495px;
$pag-1-y: 147px;
$pag-1-offset-x: -495px;
$pag-1-offset-y: -147px;
$pag-1-width: 10px;
$pag-1-height: 9px;
$pag-1-total-width: 513px;
$pag-1-total-height: 420px;
$pag-1-image: '../images/sprite.png';
$pag-1: (495px, 147px, -495px, -147px, 10px, 9px, 513px, 420px, '../images/sprite.png', 'pag-1', );
$pag-2-name: 'pag-2';
$pag-2-x: 485px;
$pag-2-y: 147px;
$pag-2-offset-x: -485px;
$pag-2-offset-y: -147px;
$pag-2-width: 10px;
$pag-2-height: 9px;
$pag-2-total-width: 513px;
$pag-2-total-height: 420px;
$pag-2-image: '../images/sprite.png';
$pag-2: (485px, 147px, -485px, -147px, 10px, 9px, 513px, 420px, '../images/sprite.png', 'pag-2', );
$pag-3-name: 'pag-3';
$pag-3-x: 442px;
$pag-3-y: 157px;
$pag-3-offset-x: -442px;
$pag-3-offset-y: -157px;
$pag-3-width: 9px;
$pag-3-height: 8px;
$pag-3-total-width: 513px;
$pag-3-total-height: 420px;
$pag-3-image: '../images/sprite.png';
$pag-3: (442px, 157px, -442px, -157px, 9px, 8px, 513px, 420px, '../images/sprite.png', 'pag-3', );
$pag-4-name: 'pag-4';
$pag-4-x: 433px;
$pag-4-y: 157px;
$pag-4-offset-x: -433px;
$pag-4-offset-y: -157px;
$pag-4-width: 9px;
$pag-4-height: 8px;
$pag-4-total-width: 513px;
$pag-4-total-height: 420px;
$pag-4-image: '../images/sprite.png';
$pag-4: (433px, 157px, -433px, -157px, 9px, 8px, 513px, 420px, '../images/sprite.png', 'pag-4', );
$pag-arrow-left-hover-name: 'pag-arrow-left-hover';
$pag-arrow-left-hover-x: 353px;
$pag-arrow-left-hover-y: 157px;
$pag-arrow-left-hover-offset-x: -353px;
$pag-arrow-left-hover-offset-y: -157px;
$pag-arrow-left-hover-width: 40px;
$pag-arrow-left-hover-height: 19px;
$pag-arrow-left-hover-total-width: 513px;
$pag-arrow-left-hover-total-height: 420px;
$pag-arrow-left-hover-image: '../images/sprite.png';
$pag-arrow-left-hover: (353px, 157px, -353px, -157px, 40px, 19px, 513px, 420px, '../images/sprite.png', 'pag-arrow-left-hover', );
$pag-arrow-left-name: 'pag-arrow-left';
$pag-arrow-left-x: 393px;
$pag-arrow-left-y: 157px;
$pag-arrow-left-offset-x: -393px;
$pag-arrow-left-offset-y: -157px;
$pag-arrow-left-width: 40px;
$pag-arrow-left-height: 19px;
$pag-arrow-left-total-width: 513px;
$pag-arrow-left-total-height: 420px;
$pag-arrow-left-image: '../images/sprite.png';
$pag-arrow-left: (393px, 157px, -393px, -157px, 40px, 19px, 513px, 420px, '../images/sprite.png', 'pag-arrow-left', );
$pag-arrow-right-hover-name: 'pag-arrow-right-hover';
$pag-arrow-right-hover-x: 419px;
$pag-arrow-right-hover-y: 138px;
$pag-arrow-right-hover-offset-x: -419px;
$pag-arrow-right-hover-offset-y: -138px;
$pag-arrow-right-hover-width: 66px;
$pag-arrow-right-hover-height: 19px;
$pag-arrow-right-hover-total-width: 513px;
$pag-arrow-right-hover-total-height: 420px;
$pag-arrow-right-hover-image: '../images/sprite.png';
$pag-arrow-right-hover: (419px, 138px, -419px, -138px, 66px, 19px, 513px, 420px, '../images/sprite.png', 'pag-arrow-right-hover', );
$pag-arrow-right-name: 'pag-arrow-right';
$pag-arrow-right-x: 353px;
$pag-arrow-right-y: 138px;
$pag-arrow-right-offset-x: -353px;
$pag-arrow-right-offset-y: -138px;
$pag-arrow-right-width: 66px;
$pag-arrow-right-height: 19px;
$pag-arrow-right-total-width: 513px;
$pag-arrow-right-total-height: 420px;
$pag-arrow-right-image: '../images/sprite.png';
$pag-arrow-right: (353px, 138px, -353px, -138px, 66px, 19px, 513px, 420px, '../images/sprite.png', 'pag-arrow-right', );
$pag-hover-1-name: 'pag-hover-1';
$pag-hover-1-x: 485px;
$pag-hover-1-y: 138px;
$pag-hover-1-offset-x: -485px;
$pag-hover-1-offset-y: -138px;
$pag-hover-1-width: 10px;
$pag-hover-1-height: 9px;
$pag-hover-1-total-width: 513px;
$pag-hover-1-total-height: 420px;
$pag-hover-1-image: '../images/sprite.png';
$pag-hover-1: (485px, 138px, -485px, -138px, 10px, 9px, 513px, 420px, '../images/sprite.png', 'pag-hover-1', );
$pag-hover-2-name: 'pag-hover-2';
$pag-hover-2-x: 495px;
$pag-hover-2-y: 138px;
$pag-hover-2-offset-x: -495px;
$pag-hover-2-offset-y: -138px;
$pag-hover-2-width: 10px;
$pag-hover-2-height: 9px;
$pag-hover-2-total-width: 513px;
$pag-hover-2-total-height: 420px;
$pag-hover-2-image: '../images/sprite.png';
$pag-hover-2: (495px, 138px, -495px, -138px, 10px, 9px, 513px, 420px, '../images/sprite.png', 'pag-hover-2', );
$pag-hover-3-name: 'pag-hover-3';
$pag-hover-3-x: 451px;
$pag-hover-3-y: 157px;
$pag-hover-3-offset-x: -451px;
$pag-hover-3-offset-y: -157px;
$pag-hover-3-width: 9px;
$pag-hover-3-height: 8px;
$pag-hover-3-total-width: 513px;
$pag-hover-3-total-height: 420px;
$pag-hover-3-image: '../images/sprite.png';
$pag-hover-3: (451px, 157px, -451px, -157px, 9px, 8px, 513px, 420px, '../images/sprite.png', 'pag-hover-3', );
$pag-hover-4-name: 'pag-hover-4';
$pag-hover-4-x: 460px;
$pag-hover-4-y: 157px;
$pag-hover-4-offset-x: -460px;
$pag-hover-4-offset-y: -157px;
$pag-hover-4-width: 9px;
$pag-hover-4-height: 8px;
$pag-hover-4-total-width: 513px;
$pag-hover-4-total-height: 420px;
$pag-hover-4-image: '../images/sprite.png';
$pag-hover-4: (460px, 157px, -460px, -157px, 9px, 8px, 513px, 420px, '../images/sprite.png', 'pag-hover-4', );
$second-name: 'second';
$second-x: 179px;
$second-y: 0px;
$second-offset-x: -179px;
$second-offset-y: 0px;
$second-width: 174px;
$second-height: 135px;
$second-total-width: 513px;
$second-total-height: 420px;
$second-image: '../images/sprite.png';
$second: (179px, 0px, -179px, 0px, 174px, 135px, 513px, 420px, '../images/sprite.png', 'second', );
$third-name: 'third';
$third-x: 0px;
$third-y: 0px;
$third-offset-x: 0px;
$third-offset-y: 0px;
$third-width: 179px;
$third-height: 135px;
$third-total-width: 513px;
$third-total-height: 420px;
$third-image: '../images/sprite.png';
$third: (0px, 0px, 0px, 0px, 179px, 135px, 513px, 420px, '../images/sprite.png', 'third', );
$week-days-name: 'week-days';
$week-days-x: 130px;
$week-days-y: 277px;
$week-days-offset-x: -130px;
$week-days-offset-y: -277px;
$week-days-width: 205px;
$week-days-height: 40px;
$week-days-total-width: 513px;
$week-days-total-height: 420px;
$week-days-image: '../images/sprite.png';
$week-days: (130px, 277px, -130px, -277px, 205px, 40px, 513px, 420px, '../images/sprite.png', 'week-days', );
$spritesheet-width: 513px;
$spritesheet-height: 420px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($close, $fifth, $first, $fourth, $mark, $pag-1, $pag-2, $pag-3, $pag-4, $pag-arrow-left-hover, $pag-arrow-left, $pag-arrow-right-hover, $pag-arrow-right, $pag-hover-1, $pag-hover-2, $pag-hover-3, $pag-hover-4, $second, $third, $week-days, );
$spritesheet: (513px, 420px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
