.title {
    position: relative;
    font-family: "Core Sans E 95";
    font-size: 4.25rem;
    font-weight: bold;
    padding-bottom: 18px;
    margin-bottom: 105px;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 0.213rem;
    text-align: center;

    &::before {
        @include center-y;
        
        position: absolute;
        font-family: "Besom 2";
        font-size: 11.25rem;
        font-weight: 400;
        width: max-content;
        opacity: 0.1;
        color: #32383f;
        text-transform: uppercase;
        letter-spacing: 0.563rem;
    }
}