.futures {
    height: 929px;
    width: 100%;
    margin-bottom: 163px;
    padding-top: 196px;
    background: url('../images/futures-bg.png') no-repeat 100% 100%;

    @media screen and (max-width:1170px) {
        margin-bottom: 75px;
    }

    @media screen and (max-width: 768px) {
        padding-top: 100px;
    }



    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 105px auto;
        width: 1143px;

        @media screen and (max-width:1170px) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 63px;
            width: 95%;
            padding: 10px;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 2fr 2fr;
            grid-column-gap: 0;
            grid-row-gap: 25px;
        }
    }

    &__top {
        height: 342px;
        background: url('../images/futures-border.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        &-item {
            position: relative;
            flex-basis: 29%;
            align-self: center;

            @media screen and (max-width:1170px) {
                margin-right: 20px;
            }

            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
        }

        &-base {
            @media screen and (max-width:1170px) {
                grid-column: 2/3;
                grid-row: 1/2;
                margin-right: 20px;
            }

            @media screen and (max-width: 768px) {
                grid-row: auto;
                grid-column: auto;
            }
        }

        &-title-number {
            font-family: 'Besom 2';
            font-size: 4.5rem;
            font-weight: 400;
            margin-bottom: 25px;
            opacity: 0.15;
            color: #ffffff;
            line-height: 1.5rem;
            letter-spacing: 0.225rem;

            @media screen and (max-width:1170px) {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }


    &__title-text {
        font-family: "Core Sans E 65";
        font-size: 1.45rem;
        font-weight: 400;
        margin-bottom: 24px;
        color: #ffffff;
        line-height: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.063rem;

        @media screen and (max-width:1170px) {
            display: inline-block;
        }
    }

    &__description {
        font-family: "Core Sans E 45";
        font-size: 1.2rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.5rem;
    }

    &__img {
        flex-basis: 37%;
        height: 100%;
        background: url('../images/futures-img.png') no-repeat 100% 100%;

        @media screen and (max-width:1170px) {
            grid-row: 1/3;
        }

        @media screen and (max-width: 768px) {
            background: url(../images/futures-img.png) no-repeat center/cover;
        }

        &-text {
            @include center-xy;
            width: 70%;
            font-size: 2rem;
            font-weight: bold;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.113rem;
        }
    }

    &__bottom {
        @media screen and (max-width:1170px) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 50px;
        }

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;

        }
    }

    &__bottom-item {
        flex-basis: 30%;
        margin-bottom: 50px;
    }

    &__bottom-item--1 {
        grid-column: 2/3;

        @media screen and (max-width: 768px) {
            
        }
    }

    &__bottom-item--2 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    &__bottom-text {
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 50%;
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: 0.113rem;

        &:before {
            content: "";
            display: block;
            left: 0;
            @include center-y;
            @include sprite($mark);
        }
    }
}