.header {
    margin-top: 20px;
    margin-bottom: 136px;

    @media screen and (max-width: 1170px) {
        margin-bottom: 70px;
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__logo--img {

        @media screen and (max-width: 1170px) {
            width: 160px;
            height: 58px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__logo--img-320 {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    &__description {
        font-family: "Core Sans E 45";
        font-size: 1.125rem;
        color: #ffffff;
        letter-spacing: 0.788rem;

        @media screen and (max-width: 768px) {
            order: 2;
            flex-basis: 100%;
            text-align: center;
        }
    }

    &__link {
        font-family: "Core Sans E 55";
        font-size: 1.5rem;
        color: #ffffff;

        &:hover {
            color: #ff0000;
        }
    }
}