.instructor {
    margin-bottom: 66px;

    &__title::before {
        content: 'Инструктор';
        left: 28%;

        @media screen and (max-width: 1170px) {
            left: 17%;
        }
    }

    &__photo {
        margin-right: 36px;

        @media screen and (max-width: 1170px) {
            width: 50%;
            margin: 0 auto 25px auto;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 86px;
        width: 100%;

        @media screen and (max-width: 1170px) {
            flex-direction: column;
        }
    }

    &__name {
        font-family: "Core Sans E 65";
        font-size: 1.5rem;
        margin-bottom: 42px;
        color: #ff0000;
        line-height: 1.5rem;
        letter-spacing: 0.075rem;

        @media screen and (max-width: 1170px) {
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    &__description-list {
        display: flex;
        height: 70%;
    }

    &__description--side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.3rem;
        color: #4d4d4d;
        line-height: 1.5rem;

        @media screen and (max-width: 1170px) {
            height: 170px;
        }
    }

    &__description-left {
        width: 58%;
        padding-left: 6%;
        background: url('../images/red-left.png') no-repeat 100% 100%
    }

    &__description-right {
        width: 30%;
        padding-left: 3%;
    }

    &__description-item--left {
        width: 90%;
    }

    &__skills {
        display: flex;
        justify-content: space-between;
        text-align: center;

        @media screen and (max-width: 1170px) {
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;
            height: 200px;
        }
    }

    &__skill--number {
        display: block;
        font-family: 'Besom 2';
        font-size: 7.5rem;
        margin-bottom: 45px;
        color: #ff0000;
        line-height: 1.078rem;
        text-transform: uppercase;
        letter-spacing: 0.435rem;
    }

    &__skill-item {
        flex-basis: 14%;
        color: #4d4d4d;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;

        @media screen and (max-width: 1170px) {
            display: flex;
            flex-basis: 35%;
        }
    }


}