.skills {
    margin-bottom: 154px;
    width: 100%;
    background: url('../images/skill.png') no-repeat;
    background-size: 61% 80%;
    background-position: -19%;

    @media screen and (max-width: 1170px) {
        margin-bottom: 84px;
    }

    &__title::before {
        content: "ты приобретёшь";
        left: -2%;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 1rem;
        padding-bottom: 2%;
        height: 782px;
        color: #4d4d4d;
        line-height: 1.5rem;

        @media screen and (max-width: 1170px) {
            height: 500px;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 30%;
            height: 100%;
            top: 1%;
            left: 47%;
            background: url('../images/skills.png');
            background-repeat: no-repeat;
            background-position: left;

            @media screen and (max-width: 1170px) {
                background-position: center center;
                background-size: contain;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 25%;
            height: 100%;
            top: 25%;
            left: 45%;
            background: url('../images/radius-text.png') no-repeat top;
            transform: rotate(13deg);
        }
    }

    &__item {
        width: 16%;

        &--1 {
            margin-right: 23%;
        }

        &--2 {
            margin-right: 15%;
        }

        &--3 {
            margin-right: 10%;
        }

        &--4 {
            margin-right: 5%;
        }

        &--5 {
            margin-right: 4%;
        }
    }
}