<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    //= sections/header.html
    //= sections/parallax.html
    //= sections/hero.html
    //= sections/program.html
    //= sections/futures.html
    //= sections/warning.html
    //= sections/test-your-self.html
    //= sections/skills.html
    //= sections/special-course.html
    //= sections/instructor.html
    //= sections/test-your-self.html
    //= sections/subscribe.html
    //= sections/geography.html
    //= sections/popup.html
    //= sections/footer.html

    <script src="js/main.min.js"></script>
</body>
</html>