<footer class="footer">

    <div class="footer__top">
        <div class="container">
            <div class="footer__top-container">
                <h6 class="footer__contact-title">Есть вопросы?</h6>
                <p class="footer__contact-description">Оставьте свой номер телефона, наши менеджеры
                    с вами свяжутся и проконсультируют</p>
                <form action="#" class="footer__form">
                    <input class="footer__form-name footer__form--input-text" type="text" name="name" id="name"
                        placeholder="Имя">
                    <input class="footer__form-phone footer__form--input-text" type="tel" name="phone" id="phone" placeholder="Телефон">
                    <input class="footer__form-submit btn" type="submit" value="отправить">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__bottom">
            <span class="footer__copyright">&copy; 2019</span>
            <a href="#" class="footer__privacy-policy link">Политика конфиденциальности</a>
            <a class="footer__tel-link link" href="tel:+38000000000">+38 (000) 000000</a>
        </div>
    </div>
</footer>