<section class="futures">

    <div class="futures__top futures__container">
        <div class="futures__img futures__top-item">
            <p class="futures__img-text">Что даёт наш
                спецкурс</p>
        </div>

        <div class="futures__top-base futures__top-item">
            <h5 class="futures__top-title-number">01</h5>
            <h6 class="futures__title-text">Базовые знания</h6>
            <p class="futures__description">Вы научитесь не допускать
                и предотвращать попадание
                человека в опасные ситуации
                на природе и в городе</p>
        </div>

        <div class="futures__top-skill futures__top-item">
            <h5 class="futures__top-title-number">02</h5>
            <h6 class="futures__title-text">Важные навыки</h6>
            <p class="futures__description">Вы научитесь не допускать
                и предотвращать попадание
                человека в опасные ситуации
                на природе и в городе</p>
        </div>

    </div>

    <div class="futures__bottom futures__container">
        <div class="futures__bottom-item">
            <p class="futures__bottom-text">Чего
                не будет</p>
        </div>

        <div class="futures__bottom-item futures__bottom-item--1">
            <h6 class="futures__title-text">Нет скуке!</h6>
            <p class="futures__description">Не будет скучной и нудной теории. Курс состоит на 80% из практики и только
                на 20% из теории!</p>
        </div>

        <div class="futures__bottom-item futures__bottom-item--2">
            <h6 class="futures__title-text">И вакханалиям</h6>
            <p class="futures__description">Никаких песен у костра
                и алкопоходов. Только хардкор!</p>
        </div>
    </div>

</section>