<section class="instructor">
    <div class="container">
        <h2 class="instructor__title title">Инструктор</h2>

        <div class="instructor__container">
            <img src="images/roma.png" alt="Instructor" class="instructor__photo">

            <div class="instructor__description">
                <h6 class="instructor__name">Роман Попков</h6>

                <div class="instructor__description-list">
                    <div class="instructor__description-left instructor__description--side">
                        <p class="instructor__description-item instructor__description-item--left">Альпинист</p>
                        <p class="instructor__description-item instructor__description-item--left">8 восхождений на Эльбрус (Западная
                            и Восточная вершины), восхождение
                            на Монблан. Неоднократно принимал участие
                            в спасательных работах в горах. Спас двоих человек на вершине Эльбруса в снежную бурю</p>
                        <p class="instructor__description-item instructor__description-item--left">Обучался у военных, горных и инструкторов по туризму</p>
                    </div>
                    <div class="instructor__description-right instructor__description--side">
                        <p class="instructor__description-item">Обучался в центре подготовки спасателей</p>
                        <p class="instructor__description-item">Инструктор по первой помощи
                            по программе Красного Креста</p>
                        <p class="instructor__description-item">Обучение и подготовка в Центре медицины катастроф</p>
                        <p class="instructor__description-item">Дайвер</p>
                    </div>
                </div>

            </div>
        </div>

        <ul class="instructor__skills">
            <li class="instructor__skill-item"><span class="instructor__skill--number">27</span><span class="instructor__skill--text"> Спарт провел в качестве капитана</span></li>
            <li class="instructor__skill-item"><span class="instructor__skill--number">05</span><span class="instructor__skill--text"> Спарт организовал (максимальный поток 68 чел.)</span></li>
            <li class="instructor__skill-item"><span class="instructor__skill--number">28</span><span class="instructor__skill--text"> прыжков с веревкой (Rope Jumping)</span></li>
            <li class="instructor__skill-item"><span class="instructor__skill--number">35</span><span class="instructor__skill--text"> боёв в Бойцовском Клубе</span></li>
        </ul>
    </div>
</section>