<section class="popup">
    <div class="popup__container">
        <div class="popup__close"></div>
        <div class="popup__wrapper">
            <h6 class="popup__contact-title">Попробуй выжить</h6>
            <p class="popup__contact-description">Оставьте свой номер телефона, наши менеджеры
                с вами свяжутся и проконсультируют</p>
            <form action="#" class="popup__form">
                <input class="popup__form-name popup__form--input-text" type="text" name="name"
                    placeholder="Имя">
                <input class="popup__form-phone popup__form--input-text" type="tel" name="phone"
                    placeholder="Телефон">
                <input class="popup__form-submit btn" type="submit" value="отправить">
            </form>
        </div>
    </div>
</section>