<section class="program">
    <div class="container">

        <h2 class="title program__title">Что вас ждёт</h2>

            <div class="program__container">
                <div class="program__step program__step--1">
                    <img src="images/waiting-for-1.png" alt="step-1" class="program__step-img">
                    <div class="program__description">
                        <h6 class="program__step-title">Спецзнания</h6>
                        <p class="program__step-text">За 3 дня спецкурса вы получите знания,
                            которым обучают военных, альпинистов,
                            спасателей</p>
                    </div>
                </div>

                <div class="program__step program__step--2">
                    <img src="images/waiting-for-2.png" alt="step-2" class="program__step-img">
                    <div class="program__description">
                        <h6 class="program__step-title">Спецнавыки</h6>
                        <p class="program__step-text">За 3 дня спецкурса вы получите знания,
                            которым обучают военных, альпинистов,
                            спасателей</p>
                    </div>
                </div>

                <div class="program__step program__step--3">
                    <img src="images/waiting-for-3.png" alt="step-3" class="program__step-img">
                    <div class="program__description">
                        <h6 class="program__step-title">Экстрим</h6>
                        <p class="program__step-text">Смоделированные экстремальные
                            ситуации, максимально приближенные
                            к реальности. Вам придётся спасать
                            утопающих из воды, спускаться по верёвке
                            по отвесным скалам, добывать воду, жить
                            в шалашах и землянках</p>
                    </div>
                </div>

                <div class="program__step program__step--4">
                    <img src="images/waiting-for-4.png" alt="step-4" class="program__step-img">
                    <div class="program__description">
                        <h6 class="program__step-title">Постоянный стресс</h6>
                        <p class="program__step-text">Участникам предстоит преодолевая
                            себя действовать в стрессовой
                            обстановке, применять на практике
                            полученные ранее знания</p>
                    </div>
                </div>

            </div>

    </div>
</section>