<section class="special-course">
    <div class="container">

        <h2 class="special-course__title title">в Программе спецкурса</h2>

        <div class="special-course__container">

            <div class="special-course__left-side special-course__side">
                <ul class="special-course__list">
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">01</span>
                        Военный альпинизм с минимальным набором снаряжения</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">02</span>
                        Тактическая медицина</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">03</span>
                        Разведение огня без спичек</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">04</span>
                        Построение укрытий, долговременных и краткосрочных</li>
                </ul>
            </div>

            <div class="special-course__right-side special-course-side">
                <ul class="special-course__list">
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">05</span>
                        Блок по экипировке</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">06</span>
                        Аварийно-спасательные работы</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">07</span>
                        Первая помощь</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">08</span>
                        Методы согрева и просушки одежды</li>
                    <li class="special-course__list-item"><span class="special-course__list-item--counter">09</span>
                        Поисково-спасательные работы</li>
                </ul>
            </div>

            <p class="special-course__sign-up">Записаться и<button class="spacial-course__btn btn">Рискнуть</button></p>

        </div>
    </div>

    <img src="images/special-photo.png" alt="special-course" class="special-course__img">
</section>