<section class="subscribe">
    <div class="container">

        <h2 class="subscribe__title title">Отзывы</h2>

        <iframe class="subscribe__video" src="https://www.youtube.com/embed/wmk92eIV0bk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <div class="subscribe__slider">

            <div class="subscribe__slider-container">
                <div class="subscribe__slide">
                    <img src="images/dima.png" alt="Photo" class="subscribe__photo">

                    <div class="subscribe__user">
                        <h6 class="subscribe__name">Дмитрий Весна</h6>
                        <p class="subscribe__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что
                            на
                            такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится. Каждый день
                            плавать
                            в одежде в речках (а это Мурманск детка), спать по 2 часа или совсем не спать, потому что
                            надо
                            совершать марш броски с пострадавшим в 140 кг., освоить альпинизм и совершать
                            самостоятельные
                            спуски и подъемы с крутых скал за 1 день, делать носилки за 5 минут из подручных средств,
                            есть
                            ягоды по пол дня, потому что другой еды нет, пить только из речки, ходить босиком по лесу
                            весь
                            день, делать укрытия, о которых даже в детстве не мечтал, спать под открытым небом без
                            спальников<span class="subscribe__hidden-dots">...</span> <span
                                class="subscribe__hidden-text hidden">и
                                палаток, и постоянно
                                кого то
                                спасать, оказывать первую помощь, учиться быстро
                                договариваться с людьми, которых видишь первый день, а также работать в команде с
                                ними...
                                , потому что ваши Жизни, только в Ваших правильных действиях, быстрой реакции и конечно
                                руках.
                                Не перечислить все, что происходило, т.к. оно происходило постоянно. Когда только
                                хотелось
                                выдохнуть и сказать вот сейчас небольшой отдых, сейчас посплю в тепле и наконец, надену
                                сухие
                                носки, начинался Ад!!!
                                Столько опыта получил за три дня, что за всю жизнь не получал такого, хоть и
                                путешественник
                                лютый. Пересмотрел многие моменты на подготовку к походам, снаряжению, одежде, выбору
                                места для
                                лагеря, безопасности, прогнозировать негативные ситуации, которые могут случиться в лесу
                                и
                                принимать превентивные меры, правильно и быстро принимать решения и многое другое.
                                А самое главное найти в себе силы идти к цели, когда нет сил, хочется все послать,
                                сдаться.
                                Открыть в себе не только второе дыхание, а пятое или десятое уже.</span> </p>

                        <p class="subscribe__btn-show">Читать весь отзыв &emsp;<span
                                class="subscribe__arrow--down">&gt;</span></p>

                    </div>


                </div>

                <div class="subscribe__slide">
                    <img src="images/dima.png" alt="Photo" class="subscribe__photo">

                    <div class="subscribe__user">
                        <h6 class="subscribe__name">Дмитрий Весна</h6>
                        <p class="subscribe__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что
                            на
                            такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится. Каждый день
                            плавать
                            в одежде в речках (а это Мурманск детка), спать по 2 часа или совсем не спать, потому что
                            надо
                            совершать марш броски с пострадавшим в 140 кг., освоить альпинизм и совершать
                            самостоятельные
                            спуски и подъемы с крутых скал за 1 день, делать носилки за 5 минут из подручных средств,
                            есть
                            ягоды по пол дня, потому что другой еды нет, пить только из речки, ходить босиком по лесу
                            весь
                            день, делать укрытия, о которых даже в детстве не мечтал, спать под открытым небом без
                            спальников<span class="subscribe__hidden-dots">...</span> <span
                                class="subscribe__hidden-text hidden">и
                                палаток, и постоянно
                                кого то
                                спасать, оказывать первую помощь, учиться быстро
                                договариваться с людьми, которых видишь первый день, а также работать в команде с
                                ними...
                                , потому что ваши Жизни, только в Ваших правильных действиях, быстрой реакции и конечно
                                руках.
                                Не перечислить все, что происходило, т.к. оно происходило постоянно. Когда только
                                хотелось
                                выдохнуть и сказать вот сейчас небольшой отдых, сейчас посплю в тепле и наконец, надену
                                сухие
                                носки, начинался Ад!!!
                                Столько опыта получил за три дня, что за всю жизнь не получал такого, хоть и
                                путешественник
                                лютый. Пересмотрел многие моменты на подготовку к походам, снаряжению, одежде, выбору
                                места
                                для
                                лагеря, безопасности, прогнозировать негативные ситуации, которые могут случиться в лесу
                                и
                                принимать превентивные меры, правильно и быстро принимать решения и многое другое.
                                А самое главное найти в себе силы идти к цели, когда нет сил, хочется все послать,
                                сдаться.
                                Открыть в себе не только второе дыхание, а пятое или десятое уже.</span> </p>

                        <p class="subscribe__btn-show">Читать весь отзыв &emsp;<span
                                class="subscribe__arrow--down">&gt;</span></p>

                    </div>


                </div>

                <div class="subscribe__slide">
                    <img src="images/dima.png" alt="Photo" class="subscribe__photo">

                    <div class="subscribe__user">
                        <h6 class="subscribe__name">Дмитрий Весна</h6>
                        <p class="subscribe__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что
                            на
                            такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится. Каждый день
                            плавать
                            в одежде в речках (а это Мурманск детка), спать по 2 часа или совсем не спать, потому что
                            надо
                            совершать марш броски с пострадавшим в 140 кг., освоить альпинизм и совершать
                            самостоятельные
                            спуски и подъемы с крутых скал за 1 день, делать носилки за 5 минут из подручных средств,
                            есть
                            ягоды по пол дня, потому что другой еды нет, пить только из речки, ходить босиком по лесу
                            весь
                            день, делать укрытия, о которых даже в детстве не мечтал, спать под открытым небом без
                            спальников<span class="subscribe__hidden-dots">...</span> <span
                                class="subscribe__hidden-text hidden">и
                                палаток, и постоянно
                                кого то
                                спасать, оказывать первую помощь, учиться быстро
                                договариваться с людьми, которых видишь первый день, а также работать в команде с
                                ними...
                                , потому что ваши Жизни, только в Ваших правильных действиях, быстрой реакции и конечно
                                руках.
                                Не перечислить все, что происходило, т.к. оно происходило постоянно. Когда только
                                хотелось
                                выдохнуть и сказать вот сейчас небольшой отдых, сейчас посплю в тепле и наконец, надену
                                сухие
                                носки, начинался Ад!!!
                                Столько опыта получил за три дня, что за всю жизнь не получал такого, хоть и
                                путешественник
                                лютый. Пересмотрел многие моменты на подготовку к походам, снаряжению, одежде, выбору
                                места
                                для
                                лагеря, безопасности, прогнозировать негативные ситуации, которые могут случиться в лесу
                                и
                                принимать превентивные меры, правильно и быстро принимать решения и многое другое.
                                А самое главное найти в себе силы идти к цели, когда нет сил, хочется все послать,
                                сдаться.
                                Открыть в себе не только второе дыхание, а пятое или десятое уже.</span> </p>

                        <p class="subscribe__btn-show">Читать весь отзыв &emsp;<span
                                class="subscribe__arrow--down">&gt;</span></p>

                    </div>


                </div>

                <div class="subscribe__slide">
                    <img src="images/dima.png" alt="Photo" class="subscribe__photo">

                    <div class="subscribe__user">
                        <h6 class="subscribe__name">Дмитрий Весна</h6>
                        <p class="subscribe__text">Я, Выжил!!!! Такого треша в жизни у меня не было. Не думал даже, что
                            на
                            такое способен в последнее время. Ни какое КМБ и прочее с этим не сравнится. Каждый день
                            плавать
                            в одежде в речках (а это Мурманск детка), спать по 2 часа или совсем не спать, потому что
                            надо
                            совершать марш броски с пострадавшим в 140 кг., освоить альпинизм и совершать
                            самостоятельные
                            спуски и подъемы с крутых скал за 1 день, делать носилки за 5 минут из подручных средств,
                            есть
                            ягоды по пол дня, потому что другой еды нет, пить только из речки, ходить босиком по лесу
                            весь
                            день, делать укрытия, о которых даже в детстве не мечтал, спать под открытым небом без
                            спальников<span class="subscribe__hidden-dots">...</span> <span
                                class="subscribe__hidden-text hidden">и
                                палаток, и постоянно
                                кого то
                                спасать, оказывать первую помощь, учиться быстро
                                договариваться с людьми, которых видишь первый день, а также работать в команде с
                                ними...
                                , потому что ваши Жизни, только в Ваших правильных действиях, быстрой реакции и конечно
                                руках.
                                Не перечислить все, что происходило, т.к. оно происходило постоянно. Когда только
                                хотелось
                                выдохнуть и сказать вот сейчас небольшой отдых, сейчас посплю в тепле и наконец, надену
                                сухие
                                носки, начинался Ад!!!
                                Столько опыта получил за три дня, что за всю жизнь не получал такого, хоть и
                                путешественник
                                лютый. Пересмотрел многие моменты на подготовку к походам, снаряжению, одежде, выбору
                                места
                                для
                                лагеря, безопасности, прогнозировать негативные ситуации, которые могут случиться в лесу
                                и
                                принимать превентивные меры, правильно и быстро принимать решения и многое другое.
                                А самое главное найти в себе силы идти к цели, когда нет сил, хочется все послать,
                                сдаться.
                                Открыть в себе не только второе дыхание, а пятое или десятое уже.</span> </p>

                        <p class="subscribe__btn-show">Читать весь отзыв &emsp;<span
                                class="subscribe__arrow--down">&gt;</span></p>

                    </div>
                </div>
            </div>
            <div class="subscribe__pagination">
                <span class="subscribe subscribe__pag--arrow-left subscribe__prev"></span>
                <span class="subscribe__pag subscribe subscribe__pag--first-slide subscribe__pag--slide "></span>
                <span class="subscribe__pag subscribe subscribe__pag--second-slide subscribe__pag--slide"></span>
                <span class="subscribe__pag subscribe subscribe__pag--third-slide subscribe__pag--slide"></span>
                <span class="subscribe__pag subscribe subscribe__pag--fourth-slide subscribe__pag--slide"></span>
                <span class="subscribe subscribe__pag--arrow-right subscribe__next"></span>
            </div>
        </div>
    </div>
</section>