<section class="warning">
    <h2 class="warning__title title">ты узнаешь, что делать</h2>

    <div class="container">
        <div class="warning__container">
            <div class="warning__left-side warning__side">
                <div class="warning__list warning__list--first">
                    <h6 class="warning__list-title">Если заблудился</h6>
                    <p class="warning__list-description">Как быть, если заблудился и остался один в лесу, как не умереть
                        от
                        голода и холода, сделать себе ночлег, развести огонь
                        без спичек.</p>
                </div>

                <div class="warning__list warning__list--third">
                    <h6 class="warning__list-title">Если нужна первая помощь</h6>
                    <p class="warning__list-description">Ты узнаешь, что делать, если человеку стало плохо, как оказать
                        самопомощь, как вынести пострадавшего из зоны поражения.</p>
                </div>

                <div class="warning__list warning__list--fifth">
                    <h6 class="warning__list-title">Если грозит опасность</h6>
                    <p class="warning__list-description">Узнаешь рабочие алгоритмы действий в различных экстренных
                        ситуациях
                    </p>
                </div>
            </div>

            <div class="warning__right-side warning__side">
                <div class="warning__list warning__list--second">
                    <h6 class="warning__list-title">Если встретил диких зверей</h6>
                    <p class="warning__list-description">Как вести себя в экстремальной ситуации при встрече с лесными
                        животными, даже если «вон та киса» выглядит такой мирной.</p>
                </div>

                <div class="warning__list warning__list--fourth">
                    <h6 class="warning__list-title">Если оказался в воде</h6>
                    <p class="warning__list-description">Как спасти утопающего.
                        Как не замёрзнуть и просушить одежду. Как подать сигнал SOS.</p>
                </div>
            </div>
        </div>

        <h4 class="warning__title--bottom">Также курс включает в себя блок <br>
            по безопасности в городе</h4>

        <div class="warning__line"><img src="images/five-line.png" alt="" class="warning__line-img"></div>
        <div class="warning__line-description">
            <p class="warning__line-text">Как действовать во время пожара?</p>
            <p class="warning__line-text">Блок по автомобильной безопасности.</p>
            <p class="warning__line-text">Народные волнения, давки, теракты.</p>
            <p class="warning__line-text">Техногенные и природные катастрофы.</p>
            <p class="warning__line-text">Что должно быть в EDC наборе.</p>
        </div>
    </div>
</section>